<div class="container h-100 w-100">
    <div class="row align-middle justify-content-center h-100">
        <div class="col-md-4 col-8 align-self-center badge badge-default p-4">
            <div class="row">
                <div class="col">
                    <div class="card" *ngFor="let album of albums" [routerLink]="'/album/' + album.albumId">
                        <div class="card-body">
                            Album #{{album.albumId}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>